.SecondHeader{
    position: relative;

}
.SecondHeader img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    

}
.SecondHeader.SecondHeaderOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
    background: #000;
    opacity: 0.4;
}