.AdoptionProcess_Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 25px;
}
.AdoptionProcess_Row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}
.AdoptionProcess_Box{
    position: relative;
    width: calc(100% /4 -20px);
    overflow: hidden;
    height: 300px;
    box-shadow:
    0px 4px 8px rgba(51, 51, 51, 0.2),
    0px -4px 8px rgba(51, 51, 51, 0.2),  
    4px 0px 8px rgba(51, 51, 51, 0.2),   
    -4px 0px 8px rgba(51, 51, 51, 0.2); 
border-radius: 20px;
padding: 10px;
margin-block :30px;

}
.AdoptionProcess_Box:hover{
    transform: scale(1.02);
}
.AdoptionProcess_Box h6{
    font-weight: 800;
    font-size: 30px;
    margin-block: 10px;
    color:var(--main);
}
.AdoptionProcess_Box p{
    font-size: 14px;
    color: #3a3a3a;
    margin-block: 10px; ;
}
.AdoptionProcess_Button{
    width: max-content;
    background: var(--main);
    color: #fff;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 999px;
    text-decoration: none;
}